[submodule "engine/submodules/physfs"]
	path = engine/submodules/physfs
	url = https://github.com/icculus/physfs
[submodule "engine/submodules/glfw"]
	path = engine/submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/submodules/glslang"]
	path = engine/submodules/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "engine/submodules/glm"]
	path = engine/submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/submodules/imgui"]
	path = engine/submodules/imgui
	url = https://github.com/ocornut/imgui
