[submodule "engine/submodules/physfs"]
	path = engine/submodules/physfs
	url = https://github.com/icculus/physfs
[submodule "engine/submodules/glfw"]
	path = engine/submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/submodules/glslang"]
	path = engine/submodules/glslang
	url = https://github.com/KhronosGroup/glslang
